
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
    background-color: #240046;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color:white;
  }
  
  .tab-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-header button {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    background-color: #240046;
    border:none;
    cursor: pointer;
  }
  
  .tab-header button.active {
    background-color: #7B2CBF;
    color: white;
    border-radius: 6px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
  }
  
  .submit-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #7B2CBF;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #5A189A;
  }
  
  .error-message {
    color: red;
    margin: 10px 0;
    font-weight: 500;
  }
  
  /*  Radio button group */
  .radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
  }
  
  .radio-group label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #7B2CBF;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .radio-group input[type="radio"] {
    accent-color: white;
  }